*{
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
height: 60px;
background-color: #0f1111;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background: url(amazon_logo.png);
    width: 100%;
    height: 50px;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border :hover{
    border: 1.5px solid white;
}

.Add1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.Add2{
    font-size: 0.95rem;
    margin-left:3px;
}

.add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search{
    display: flex;
    background-color: wheat;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly ;
}

.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color:#f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.2rem;
    background-color:#febd69;
    color:#0f1111;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

span{
    font-size: 0.7rem;
    font-weight: 300;
}
.Acs{
font-size: 0.85rem;
font-weight: 700;
}

.nav-cart i{
font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.pannel{
    display: flex;
    height: 40px;
    background-color:#222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-opt p{
    display:inline;
    font-size: ;
    margin-left: 15px;
}

.pannel-opt{
    width: 75%;
    font-size: 0.85rem;
    font-weight:600;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.Hero-section{
    background-image:url(drive-download-20250623T063225Z-1-001/hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.hero-msg{
    display: flex;
    background-color:white;
    color: black;
    height: 40px; 
    width:95%;
    align-items: center;
    justify-content: center;
    font-size:1rem;
    margin-bottom:25px;
    border-radius: 5px;

}
.hero-msg p{
    font-family:'Times New Roman', Times, serif;
}

.hero-msg a{
    color:#007185;
    font-size:0.85rem;

}

.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 1.5px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem; 
}
.box-cont{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.box-cont p{
    color:#007185;
}

.last-sec {
  font-family: "Amazon Ember", Arial, sans-serif;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 40px auto;
  border-radius: 4px;
}

.last-sec h2 {
  font-size: 18px;
  color: #111;
  margin-bottom: 15px;
}

.last-sec button {
  background-color: #ffd814;
  border: 1px solid #fcd200;
  color: #111;
  width:150px;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 10px;
}

.last-sec button:hover {
  background-color: #f7ca00;
}

.last-sec p {
  font-size: 13px;
  color: #111;
}

.last-sec a {
  color: #0066c0;
  text-decoration: none;
  font-weight: normal;
}

.last-sec a:hover {
  text-decoration: underline;
}


footer{
    margin-top: 15px;
    background-color:#e2e7e6;
}
.foot-pannel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.foot-pannel2{
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 400px;
}

ul{
    margin-top: 20px;
}

ul a{
    display:block;
    font-size: 0.85rem;
    font-family: serif;
    margin-top: 10px;
    color:#dddddd;
}

ul p{
    font-family: sans-serif;
    font-weight: 700;
}

.foot-pannel3{
    background-color:#222f3d ;
    color: white;
    border-top: 0.6px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-pannel4{
    background-color:#0f1111;
    color: white;
    height: 100px;
    margin-right: 5px;
}

.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;

}

.copyright{
font-size: 0.7rem;
text-align: center;
padding-top: 7px;
}
